{% extends 'base.html' %}
{% block content %}

    
        <!-- Contact Start -->
        <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
            <div class="container contact px-lg-0">
                <div class="row g-0 mx-lg-0">
                    <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                        <div class="p-lg-5 ps-lg-0">

                            <h4>Output is: {{output}}</h4>
                            <h1 class="mb-4">Thank You</h1>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Contact End -->
    
    
    {% endblock  %}