{% extends 'base.html' %}
{% block content %}

    
        <!-- Contact Start -->
        <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
            <div class="container contact px-lg-0">
                <div class="row g-0 mx-lg-0">
                    <div class="col-lg-8 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                        <div class="p-lg-5 ps-lg-0">
                            <h6 class="text-primary">User form</h6>
                            <h1 class="mb-4">Feel Free To User form</h1>
                            <form method='POST'>
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="num1" value='{{n1}}' id="num1" placeholder="Your Num 1">
                                            <label for="name">Your No 1</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="num2" value='{{n2}}' id="num2" placeholder="Your Num 2">
                                            <label for="email">Your No 2</label>
                                        </div>
                                    </div>
                                   
                                    <div class="col-12">
                                        <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send Message</button>
                                    </div>

                                    <div class="col-12">
                                        Output 
                                        <input type="text" value="{{output}}" class="btn btn-secondary btn-lg disabled"  >
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Contact End -->
    
    
    {% endblock  %}